#form{
    border-left:solid red;
    border-right: solid red;
    border-top:solid red;
    border-bottom: solid red;
    width : 500px;
    background-color: aqua;
    display:flex;
    flex-direction: column;
    cursor: 
}
#check{
    background-color: blueviolet;
    display: flex;
    justify-content: space-around;
    
}
#npe{
    background-color: beige;
    display: flex;
    flex-direction: column;
}
a[href="../Index.html"]{
    background-color: yellow;
    position: absolute;
    top: 500px; 
    left: 200px;
    font-family: 'Times New Roman', serif;
    font-size: 30px;
}
#soumis {
    background-color: greenyellow;
    font-family:arial, serif;
    font-size:150%;
    font-style: italic
}