body{
    margin: 0;
}

ul{
    background-color: black;
    display: flex;
    height: 60px;
    width: 100%;
    color: white;
    text-decoration: none;
}

.bouton{
    justify-content: center;
    align-items: center;
}
.bouton:hover{
    background-color: green;
}