body{
    margin: 0;
}

ul{
    background-color: black;
    display: flex;
    height: 60px;
    width: 100%;
}

.bouton a{
    text-decoration: none;
    width: 100px;
    color: white;
}
.bouton:hover{
    background-color: green;
}